@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Regular.woff2") format("woff2"),
        url("/fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    list-style: none;
    text-decoration: none;
}

/* GENERAL */

body {
    margin: 10px;

    background: linear-gradient(217deg, rgba(145, 74, 74, 0.8), rgba(255, 0, 0, 0) 70.71%),
                linear-gradient(127deg, #000000, rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, #B22222, rgba(0,0,255,0) 70.71%);
    background-attachment: fixed;
    background-size: cover;
}